output/
venv/
temp/
.rpa/
.idea/
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*
.vscode
.DS_Store
*.pyc
*.zip
*/work-items-out/*
testrun/*
.~lock*
*.pkl
/robotframeworkenv
/rpa-challenge.robot
/challenge.xlsx
/entrybot.robot
/sales_results.pdf
/merged
/receipts
/screenshots
/log.html
/output.xml
/report.html
/test.py
/conda.yaml
